.services-head {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.services-visible {
  opacity: 1;
  transform: translateY(0);
}

.service-card {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.service-card-visible {
  opacity: 1;
  transform: translateY(0);
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card-visible:hover {
  transform: translateY(-8px);
}
